<nz-layout
  class="min-h-screen bg-gradient-to-br from-blue-100 via-purple-100 to-pink-100"
>
  <app-header></app-header>
  <nz-layout>
    <nz-content
      class="flex justify-center items-center min-h-[80vh] center-content p-1"
    >
      <div
        class="relative max-w-md w-full bg-white/80 backdrop-blur-md shadow-2xl rounded-2xl p-[3px] border-transparent"
      >
        <div class="rounded-2xl bg-white p-8">
          <h1
            class="text-3xl font-extrabold text-center text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-purple-600 mb-6"
          >
            Login Here
          </h1>
        </div>
      </div>
    </nz-content>
  </nz-layout>

  <app-footer></app-footer>
</nz-layout>
